{% extends "common/page_base.html" %}

{% block content %}

<div class="container app flex-row align-items-center">
    <div class="col-md-6 p-0 m-auto bg-white rounded">
      <div class="card m-0">
        <div class="card-body p-4">
          <form action="" method="POST" class="form" role="form">
            <input id="next" name="next" type="hidden" value="/">
            <input id="reg_next" name="reg_next" type="hidden" value="/">
            {{ form.hidden_tag() }}
            {# One-time system messages called Flash messages #}
            {% block flash_messages %}
                {%- with messages = get_flashed_messages(with_categories=true) -%}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category=='error' %}
                                {% set category='danger' %}
                            {% endif %}
                            <p><font color="red">{{ message|safe }}</font></p>
                        {% endfor %}
                    {% endif %}
                {%- endwith %}
            {% endblock %}
              <h1>Login</h1>
              <p class="text-muted">Sign In to QT-Trading System</p>
              <div class="input-group mb-3">
                <input type="email" id="email" class="form-control" name="email" placeholder="Email">
              </div>
              <div class="input-group mb-2">
                <input type="password" id="password" class="form-control" name="password" placeholder="Password">
              </div>
              <div class="row">
                <div class="col text-right">
                  <a href="/user/forgot-password" >Forgot password?</a>
                </div>
              </div>
              <div class="row">
                <div class="col text-right">
                  <a href="/user/register" >Register Now!</a>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-12">
                  <input type="submit" class="btn btn-primary btn-block" value="Sign in">
                </div>
              </div>
              </div>
          </form>
        </div>
      </div>
    </div>
</div>
{% endblock %}
